<!doctype html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js | školení</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div id="app" class="container">
    <div class="row">
        <card v-for="index in [0,1,2,3]" ></card>
    </div>
    <div class="row">
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo fugit id laudantium perspiciatis quibusdam. Consectetur dolorem ducimus ea, eveniet expedita, iure iusto minima nostrum officiis optio
            recusandae rem sint, velit.</h1>
    </div>
    <div class="row">
        <card v-for="index in [4,5]" ></card>
    </div>
</div>
<script src="./public/app.js"></script>
</body>
</html>