<!doctype html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js | školení</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div id="app" class="container">
    <div class="row">
        <card firstname="Karel"></card>
        <card firstname="Jarmil"></card>
        <card firstname="Hynek"></card>
        <card :firstname="'Petr'"></card>
    </div>
    <div class="row">
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo fugit id laudantium perspiciatis quibusdam. Consectetur dolorem ducimus ea, eveniet expedita, iure iusto minima nostrum officiis optio
            recusandae rem sint, velit.</h1>
    </div>
    <div class="row">
        <card></card>
        <card></card>
    </div>
</div>
</body>
<script>
    Vue.component('card', {
        props: {
          firstname: {
              type: String,
              default() {
                  return '';
              }
          }
        },
        template: '<div class="col-4">\n' +
            '            <div class="card">\n' +
            '                <div class="card-body">\n' +
            '                    <h3 class="card-title">Jméno: {{ firstname }}</h3>\n' +
            '                    <div class="form-group">\n' +
            '                        <input type="text" class="form-control" v-model="firstname">\n' +
            '                    </div>\n' +
            '                </div>\n' +
            '            </div>\n' +
            '        </div>'
    });

    new Vue({
        el: '#app',
    });
</script>
</html>