<!doctype html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js | školení</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div id="app">
    <span id="firstname">Karel</span>
    <span id="lastname">Novák</span>
    <h1>{{ fullname }}</h1>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data: {
            firstname: '',
            lastname: ''
        },
        computed: {
            fullname() {
                return this.firstname + ' ' + this.lastname;
            }
        },
        mounted() {
            this.firstname = document.getElementById('firstname').innerText;
            this.lastname = document.getElementById('lastname').innerText;
        }
    });
</script>
</html>