<!doctype html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js | školení</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div id="app" class="container">
    <div class="row">
        <div class="col-4" v-for="firstname in firstnames">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Jméno: {{ firstname.value }}</h3>
                    <div class="form-group">
                        <input type="text" class="form-control" v-model="firstname.value">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data: {
            firstnames: [
                {
                    value: ''
                },
                {
                    value: '',
                },
                {
                    value: '',
                },
                {
                    value: '',
                }
            ],
        }
    });
</script>
</html>