<template>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Jméno: {{ firstname }}</h3>
                <div class="form-group">
                    <input type="text" class="form-control" v-model="firstname">
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'card',
        props: {
            firstname: ''
        }
    }
</script>